# Binaries for programs and plugins
server/server
publisher/publisher
recordswriter/recordswriter
imageswriter/imageswriter
*.lambda
deploy/awslambda/*.lambda.zip
*.exe
*.exe~
*.dll
*.so
*.dylib
uglyui/dist/
output-*.cf.yaml
client/dist/
search-client/dist/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
client/node_modules/
search-client/node_modules/

# IDEs
.idea/
client/.idea/
search-client/.idea/
.vscode/
.DS_Store
client/src/.DS_Store
search-client/src/.DS_Store

#ignore local env
client/.env.development.local
search-client/.env.development.local