# Binaries for programs and plugins
server/server
server/main.lambda
deploy/awslambda/main.lambda.zip
*.exe
*.exe~
*.dll
*.so
*.dylib
output-ourroots.cf.yaml

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
uglyui/node_modules/
02-calling-an-api/node_modules/

# IDEs
.idea/
uglyui/.idea/
.vscode/

# sensitive data
uglyui/auth_config.json
