# Binaries for programs and plugins
server/server
publisher/publisher
recordswriter/recordswriter
imageswriter/imageswriter
db/dynamo/ddbloader/ddbloader
*.lambda
deploy/awslambda/*.lambda.zip
*.exe
*.exe~
*.dll
*.so
*.dylib
.tool-versions
uglyui/dist/
output-*.cf.yaml
client/dist/
search-client/dist/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
client/node_modules/
search-client/node_modules/

# Wordpress plugin copied js, css, and img directories
search-client/deploy/wp-plugin/ourroots/css/app.css
search-client/deploy/wp-plugin/ourroots/css/chunk-vendors.css
search-client/deploy/wp-plugin/ourroots/img
search-client/deploy/wp-plugin/ourroots/js/app.js
search-client/deploy/wp-plugin/ourroots/js/chunk-vendors.js
search-client/deploy/wp-plugin/ourroots.zip

# IDEs
.idea/
client/.idea/
search-client/.idea/
.vscode/
.DS_Store
client/src/.DS_Store
search-client/src/.DS_Store

#ignore env's
client/.env.development.local
client/.env.development
search-client/.env.development.local
client/.env.production
